body{
  font-family:nimbus-sans, Helvetica, sans-serif;
}

.container{
  max-width:1100px;
}

h2{
  font-size:2.5em;
  font-weight:bold;
  margin-top:.7em;
  margin-bottom:.7em;
}

.prestige{
  font-family: prestige-elite-std, monospace;
}

.navbar{
    padding-top: 0;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
}

.nav-link{
  color: #ff530d;
  padding-top:1em;
  padding-bottom:1em;
}

#nav-cta{
  background-color:#e90253;
  padding-left:10px;
  padding-right:10px;
}

#nav-cta a{
  color:white;
}

.flier{
  border:10px solid #e90253;
  border-radius: 5px;
}

.active{
  font-weight:bold;
}

.jumbotron{
  background-image: url("../img/hero.jpg");
  margin:0;
}

.jumbotron h1{
  font-family:nimbus-sans;
  font-weight:900;
  font-size: 6rem;
  line-height:.9;
  text-transform:uppercase;
  color:#ff530d;
}

#next-show .row{
  margin-left: 2em;
  margin-right: 2em;
}

#next-show-artists td{
  padding-left:0;
}

#next-show-artists .first-artist{
  padding-top:0;
}

.btn-primary{
  background-color:#e90253;
  border:none;
}

.btn-primary a{
  color:white;
}

.btn-outline-primary{
  background-color:none;
  border:2px solid #e90253;
  color: #e90253;
}

.btn-outline-primary a{
  color: #e90253;
}



#homepage-schedule{
  background-color:#f8f9fa!important;
  /* padding:20px; */
}

#homepage-schedule p{
  font-size:14pt;
}

/* Home Schedule Styles desktop */
#home-schedule-grey{
  background-color:#ebebeb;
  border-radius:10px;
  padding:25px;
  color:#757575;
}

.schedule-artists{
  font-family:prestige-elite-std;
}

.show-item{
  border-bottom:1px solid white;
  margin-bottom:25px;
}

.show-item-last{
  border-bottom:0;
  margin-bottom:0;
}
