  body{
  font-family:nimbus-sans, Helvetica, sans-serif;
}

.container{
  max-width:1100px;
}

h2{
  font-size:2.5em;
  font-weight:bold;
  margin-top:.7em;
  margin-bottom:.7em;
  margin-left:50px;
}

.prestige{
  font-family: prestige-elite-std, monospace;
}

.navbar{
    padding-top: 0;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
}

.nav-link{
  color: #ff530d;
  padding-top:1em;
  padding-bottom:1em;
}

.nav-link:hover{
  color:#ff8b5c;
}

#nav-cta{
  background-color:#e90253;
  padding-left:10px;
  padding-right:10px;
}

#nav-cta a{
  color:white;
}

#nav-cta:hover{
  background-color:#c40045;
}

.flier{
  border:10px solid #e90253;
  border-radius: 5px;
}

.active{
  font-weight:bold;
}

.jumbotron{
  background-image: url("../img/hero.jpg");
  margin:0;
}

.jumbotron h1{
  font-family:nimbus-sans,Helvetica, sans-serif;
  font-weight:900;
  font-size: 6rem;
  line-height:.9;
  text-transform:uppercase;
  color:#ff530d;
}

#next-show{
  color:#ff530d;
}

#next-show .row{
  margin-left: 2em;
  margin-right: 2em;
}

#next-show-artists td{
  padding-left:0;
}

#next-show-artists .first-artist{
  padding-top:0;
}

th{
  font-size:18pt;
}

td{
  font-size:15pt;
}

.btn-primary{
  background-color:#e90253;
  border:none;
}

.btn-primary a{
  color:white;
}

.btn-primary:hover{
  background-color:#c40045;
}

.btn-outline-primary{
  font-size:1.1rem;
  font-weight:bold;
  background-color:none;
  border:2px solid #e90253;
  color: #e90253;
}

.btn-outline-primary:hover{
  background-color:#e90253;
  border:2px solid #e90253;
  color: white;
}

.btn-outline-primary a{
  color: #e90253;
}

#home-schedule{
  margin-top:50px;
}

#home-schedule h2{
  color:#757575;
}

/* Home Schedule Styles desktop */
#home-schedule-grey{
  background-color:#ebebeb;
  border-radius:10px;
  padding:40px;
  color:#757575;
}

.schedule-link{
  margin-top:50px;
  margin-right:50px;
  font-family:prestige-elite-std,monospace;
  text-decoration:underline;
  color:#e90253;
}
.schedule-link:hover{
color:#c40045;
}

.schedule-artists{
  font-family:prestige-elite-std,monospace;
  font-weight:light;
  font-size:.9rem;
}

.show-item{
  border-bottom:2px solid white;
  padding-bottom:10px;
  margin-bottom:40px;
}

.show-item-last{
  border-bottom:0;
  margin-bottom:0;
}

.show-date-location{
  font-size:1.4rem;
  margin-bottom:10px;
}

.show-day, .show-date{
  font-weight:bold;
}

.show-location{
  font-weight;400;
}

.schedule-buttons button{
  padding:5px 15px;
}

#footer{
  margin-top:50px;
}

#footer-nav .nav-link{
  font-size:.8em;
  font-weight:bold;
  color:#757575;
  margin:30px;
}

#footer-nav .nav-link:hover{
  color:#464646;
}

#copyright-text{
  color:#757575;
  font-size:.7em;
}

.button-container{
  float:right;
}
