h1, h2, h3, h4, h5{
    padding:0.1em;
    margin:0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }

 .nav{
     padding:10px 60px;
 }

#cta-button{
    background-color:#e90253;
    align:right;
}

.nav li{
    display:inline-block;
}

.nav li a{
    color:#ff530d;
}

#cta{
    background-color:#e90253;
    float:right;
}

#cta .nav-link{
    color:white;
}

#hero-area{
    position:relative;
    overflow:hidden;
}

#hero-overlay{
    max-width:60%;
    z-index:40;
    color:#ff530d;
    margin-right:100px;
    margin-top:70px;
    position:absolute;
    left:300px;
    float:right;
    text-align:right;

}

#hero-overlay h1, #body-content .container h2{
    text-align:right;
}

#hero-overlay h1{
    display:inline;
    font-weight: 900;
    font-size:80px;
    text-transform:uppercase;
    background-color:white;
    padding:0 10px;
    line-height: 1;
}

#hero-overlay h2{
    font-size:20px;
}

#hero-shape{
    width: 60%;
    height: 350px;
    margin: 0 0 0 -65px; /* this margin moves the image to the left so that it is hidden */
    -webkit-transform: skew(-20deg); /* creates the slant */
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: red;
    overflow: hidden; /* hiding the image within */
    position: relative;
}

#hero{
    background-image: url("img/hero.jpg");
    background-repeat:no-repeat;
    width:auto;
    height:100%;
    -webkit-transform: skew(20deg) scale(1.2,1.2); /* keeps the contents of the slant straight */
    -moz-transform: skew(20deg) scale(1.2,1.2);
    -o-transform: skew(20deg) scale(1.2,1.2);
}